:root {
    --color-uno: #5D0A28;
    --color-dos: #D8D8D8;
    --color-tres: #F5F5F5 
}

body,
html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scrollbar-width: none;
    /* Ocultar la barra de desplazamiento en navegadores que admiten la propiedad scrollbar-width */
}

.contenido {
    margin-top: 60px;
    /* Ajusta este valor según la altura de tu menú de navegación */
    padding: 2%;
}

.login-page {
    background: var(--color-uno);
}

.nav-link {
    color: #fff;
}

.navbar-nav .nav-link.active {
    color: #fff; /* Color dorado para el texto activo */
    background-color: #c1004f; /* Color de fondo más oscuro cuando activo */
    border-radius: 15px; /* Bordes redondeados, opcional */
    padding: 0.5rem 1rem; /* Ajustar el padding para que el fondo ocupe el mismo ancho */
}

.menu {
    background-color: #8c0f39;
}

.navbar-nav .nav-link {
    color: white !important;
}

/*----------Login----------*/
.login-contenedor {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.login-contenido {
    width: 95%;
    max-width: 320px;
    height: auto;
    border: 1px solid var(--color-dos);
    background-color: #fff;
    border-radius: 4px;
    padding: 15px;

}

.btn-login {
    width: 90%;
    padding: 10px 0;
    display: block;
    margin: 0 auto;
    border-radius: 3px;
    margin-top: 30px;

}

/*----------Imagen de Login----------*/
.imagen {
    width: 100%;
    height: 100%;
}



/*----------Tabla lista usuarios----------*/
#lista th,
#lista td {
    text-align: center;
}

.tbListaUsuarios{
    background-color: #8c0f39;
    color: #F5F5F5;
}

/*----------Pagina Laboratorios----------*/
.btnnuevo {
    margin-left: 100px;
    width: 200px
}

.tbTablaLaboratorios{
    background-color: #8c0f39;
    color: #F5F5F5;
}

/*----------Pagina Reportes----------*/
.tbReportes{
    background-color: #8c0f39;
    color: #F5F5F5;
}

/*----------Pagina Inicio----------*/
.contenedor {
    display: flex;
    flex-wrap: wrap;
}

.tbRegistroTiempo{
    background-color: #8c0f39;
    color: #F5F5F5;
}

.left-column {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 30%;
    padding: 20px;
}

.form-container {
    display: flex;
    flex-direction: column; /* Mantiene los formularios en línea vertical */
    gap: 10px;
    flex: 1;
    margin: 10px;
}

.right-column {
    flex: 1;
    padding: 20px;
    width: 100%; /* Ajusta el ancho según sea necesario */
    display: flex;
    justify-content: center; /* Centra las computadoras horizontalmente */
}

.computadoras {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr)); /* Ajusta el número de columnas automáticamente */
    gap: 10px;
    width: 100%;
    padding: 20px 0; /* Ajusta el padding vertical para espaciar las computadoras */
    justify-content: start; /* Alinea el contenido al inicio del contenedor */
    align-content: start; /* Alinea el contenido de las filas al inicio */
}

.computadora {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    font-size: 0.8rem;
}


@media (max-width: 1200px) {
    .computadoras {
        grid-template-columns: repeat(auto-fill, minmax(10, 1fr));
    }
}

@media (max-width: 768px) {
    .computadoras {
        grid-template-columns: repeat(auto-fill, minmax(5, 1fr));
        gap: 5px;
    }
    
    .computadora {
        padding: 3px;
        font-size: 0.7rem;
    }

    .left-column {
        max-width: 100%; /* Los formularios ocupan todo el ancho en pantallas pequeñas */
    }
}

.cuadro {
    width: 20px;
    height: 20px;
    background-color: gray;
    margin-bottom: 5px;
}

.etiqueta {
    font-size: 10px;
    width: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}


.espacio {
    margin-top: 80px;
}

.espacio2 {
    margin-top: 10px;
    padding: 2%;
}

.formulario {
    margin-bottom: 20px; /* Margen inferior para separar los formularios */
}

.formulario .form-group {
    margin-bottom: 15px; /* Margen inferior para separar los elementos dentro del formulario */
}

footer {
    padding: 10px 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.form-groupset {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 15px;
    align-items: center;
    box-sizing: border-box;
}

.form-groupset form {
  margin-bottom: 0;  /* No margin between forms */
}

.table-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
    text-align: center; /* Centra horizontalmente el contenido dentro del contenedor */
    padding-left: 40px; /* Ajusta el espacio a la izquierda según tu preferencia */
    padding-right: 20px; /* Ajusta el espacio a la derecha según tu preferencia */
}






